<div class="center jumbotron">

  <h3>Body Mass index calculator</h3>
  <%= form_tag calculate_mass_path do %>
    <div class="field">
      <%= label_tag :mass %><br />
      <%= text_field_tag :mass, params[:mass] %>
    </div>
    <div class="field">
      <%= label_tag :height %><br />
      <%= text_field_tag :height %>
    </div>
    <div class="actions"><%= submit_tag "Index" %></div>
  <% end %>
</div>