<div class="center jumbotron">

  <h3>Body Mass index </h3>

  <%= form_tag calculate_mass_path do %>
    <div class="field">
      <%= label_tag :weight%> (kgs)<br />
      <%= number_field_tag :weight, params[:weight] %>
    </div>
    <div class="field">
      <%= label_tag :height %> (m)<br />
      <%= number_field_tag :height %>
    </div>
    <br>
    <div class="actions"><%= submit_tag "Calculate" %></div>
  <% end %>
</div>